

ol, .card{
    
    border-radius: 2%;
    background-color: rgb(253, 253, 253);
    margin: 0px;
    padding: .5rem 0;
    min-width: 240px;
    

}
   
.div-container{
    outline: 1px solid rgb(201, 200, 200);
    border-radius: 4px;
    height: 427px;
    
}


ol{
    padding: 10px;
    outline: 1px solid rgb(201, 200, 200);
   
    
}

.card__profile{
    display: flex;
    
    
}
.card__photo{
    border-radius: 100px;
    padding: 10px;
    width: 30%;
    height: 30%;
}

.card__details{
    text-align: left;
}

.card__label{
    font-weight: bold;
    display:flex
}
.card__value, .card__title{
    color: rgb(120, 127, 128);
}

