div {
    background-color: rgb(238, 235, 235);
    
}


ol, .card{
    border-radius: 2%;
    background-color: rgb(253, 253, 253);
    outline: 1px solid rgb(201, 200, 200);
    margin: 0px;
    padding: .5rem 0;
    min-width: 280px;
   
}

.card__profile{
    display: flex;
    
    
}
.card__photo{
    border-radius: 100px;
    padding: 10px;
}
