b {
    border-radius: 1%;
    background-color: rgb(253, 253, 253);
    margin: 5px;
    padding: 5px;
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
 .Header{
    width: 350px;
    display: flex;
    justify-content: right;
    outline: 1px solid rgb(201, 200, 200);
    
    
 }
 
.leftArrow{
    color: rgb(167, 167, 167);
    display:flex;
    justify-content: flex-start;

    font-size: 40px;
}