html{
    border-left: 5px;
    border-color: lightgray;
}

body{
    min-height: 100%;
    font-family: sans-serif;
    max-width: 1000px;
    margin: auto;
}

header{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

h1{
    color: tomato;
}
img{
    width:100%
}
ul{
    display: flex;
    padding:0;
    list-style-type: none;
    justify-content: space-between;
}

header a, time, article p{
    color: lightgray;
}

footer a{
    color: tomato;
}

.title{
    font-size: larger;
}
.continue{
    display: flex;
    color: tomato;
    justify-content: end;;
}

article{
    margin-bottom: 4rem;
    border-bottom: 1px solid lightgray;
    padding-bottom: 2rem;
}

article p::first-letter{
    color:lightgray;
    font-size: 4rem;
    font-weight: bold;
}


.copyright{
    color: lightgray
}